[Unit]
Description=WebGlasses Server for your AR Glasses [Service]
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
KillSignal=SIGQUIT
User=root
ExecStart=/bin/web-glasses-server_armv7 [Install]

[Install]
WantedBy=multi-user.target